<div class="mb-3 campo{% if campo.errors %} con-error{% endif %}">
    {% if campo.field.widget.input_type == 'checkbox' %}
    <div class="form-check">
        {{ campo }}
        <label class="form-check-label" for="{{ campo.id_for_label }}">{{ campo.label }}</label>
    </div>
    {% else %}
    <label class="form-label" for="{{ campo.id_for_label }}">{{ campo.label }}{% if campo.field.required %}<span class="requerido" aria-hidden="true">*</span>{% endif %}</label>
    {{ campo }}
    {% endif %}
    {% if campo.help_text %}<div class="form-text">{{ campo.help_text|safe }}</div>{% endif %}
    {% for error in campo.errors %}<div class="error-campo">{{ error }}</div>{% endfor %}
</div>
